body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2dfd3;
}

iframe {
    width: 100%;
}

.coluna {
    position: relative;
    column-count: 2;
    column-span: 2;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
h1 {
    color: #a94b00;
    text-shadow: 3px 3px 10px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.lista {
    border: solid 10px;
    border-color: black;
    display: flex;
    line-height: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
}

 h4 {
    background-color: pink
}

figure {
    float: left;
  }






a:link {
    color:#a94b00;
}
a:visited {
    color: green;
}
a:hover{
    color:aqua
}
a:active{
    color: pink;
}